html {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}
.main {
  box-sizing: border-box;
  padding: 2.6rem 1.8rem 67rem 4.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fdfaf7;
}
.headerGroup {
  margin-bottom: 2.8rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.momoLogo {
  margin: 0rem 78.5rem 0.3rem 0rem;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.momoLogo a{
  text-decoration: none;
  color: #ffa101;
}
.userControlsGroup {
  width: 32rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.authenticationButtonsFrame {
  width: 32rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
}
.signUpButton {
  box-sizing: border-box;
  padding: 0.8rem 2.15rem 0.7rem 2.15rem;
  width: 11.7rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.046rem;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #31525b;
  border-radius: 0.5rem;
}
.signUpButton a{
  color: #31525b;
  text-decoration: none;
}
.logInButton {
  box-sizing: border-box;
  padding: 0.8rem 2.2rem 0.7rem 2.2rem;
  width: 9.8rem;
  height: 3.5rem;
  position: absolute;
  left: 12.2rem;
  top: 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.046rem;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffa101;
  border-radius: 0.5rem;
}
.logInButton a{
  color: #ffffff;
  text-decoration: none;
}
.userAvatar {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 23.7rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 3rem;
}
.userRolesGroup {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0 4.2rem;
  width: 118.5rem;
  height: 5.8rem;
  border-bottom: solid 0.1rem #000000;
  flex-shrink: 0;
}
.rolesTabGroup {
  width: 16.5rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
}
.guestTab, .hostTab {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  transition: transform 0.3s ease;  /* 애니메이션 효과를 부드럽게 전환합니다. */
  cursor: pointer;  /* 마우스를 올렸을 때 포인터로 표시합니다. */
}
.guestTab {
  margin-right: 5.5rem;
}
.guestTab a, .hostTab a{
  color: #000000;
  text-decoration: none;
}

.guestTab:hover, .hostTab:hover {
  transform: scale(1.1);  /* 마우스를 올렸을 때 10% 확대됩니다. */
}