
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.group-32-pXz {
  width: 100%;
  height: 83.2rem;

  .host-cik {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fdfaf7;
    width: 100%;

    .auto-group-xzfi-byz {
      top: 2.6rem;
      display: flex;
      align-items: center;
      width: 121.5rem;
      height: 5rem;
      position: absolute;
      left: 4.7rem;

      .momo-xxx {
        margin: 0rem 78.5rem 0.3rem 0rem;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffa101;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-m2tj-yNG {
        width: 32rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .frame-5-hZA {
          width: 32rem;
          height: 3.5rem;
          position: absolute;
          left: 0;
          top: 0.8rem;

          .button-outline-2bS {
            letter-spacing: 0.046rem;
            color: #31525b;
            white-space: nowrap;
            padding: 0.8rem 2.15rem 0.7rem 2.15rem;
            width: 23.7rem;
            height: 3.5rem;
            position: absolute;
            font-size: 1.6rem;
            left: 0;
            top: 0;
            text-align: center;
            line-height: 1.2125;
            box-sizing: border-box;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0.1rem #31525b;
            border-radius: 0.5rem;
          }
          .button-contained-55r {
            box-sizing: border-box;
            top: 0;
            text-align: center;
            font-weight: 500;
            white-space: nowrap;
            background-color: #ffa101;
            padding: 0.8rem 2.2rem 0.7rem 2.2rem;
            width: 19.8rem;
            position: absolute;
            color: #ffffff;
            border-radius: 0.5rem;
            height: 3.5rem;
            left: 12.2rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            letter-spacing: 0.046rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .avatar-sGc {
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 23.7rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 3rem;
        }
      }
    }
    .group-3-Zv8 {
      border-bottom: solid 0.1rem #000000;
      box-sizing: border-box;
      padding: 0 4.2rem;
      width: 118.5rem;
      height: 5.8rem;
      position: absolute;
      left: 4.7rem;
      top: 10.4rem;

      .auto-group-wqdi-gzk {
        width: 16.5rem;
        height: 3.7rem;
        display: flex;
        align-items: center;

        .item--2Yp {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          font-style: italic;
          margin-right: 5.5rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--g7a {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          font-style: italic;
        }
      }
    }
    .auto-group-ylmw-yMa {
      height: 18rem;
      position: absolute;
      left: 20.1rem;
      top: 19.6rem;
      display: flex;
      align-items: center;
      width: 78.2rem;

      .item--6BJ {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        color: #000000;
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        white-space: nowrap;
        margin: 1.1rem 25.7rem 0rem 0rem;
      }
      .rectangle-42-acG {
        width: 18rem;
        height: 18rem;
        background-color: #d9d9d9;
        flex-shrink: 0;
      }
    }
    .item--uuS {
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.4rem;
      height: 3.4rem;
      top: 43.6rem;
      line-height: 1.2125;
      color: #000000;
      position: absolute;
      left: 20.1rem;
      font-size: 2.8rem;
      font-weight: 400;
    }
    .item-1--yeQ {
      left: 20.2rem;
      font-size: 2.8rem;
      font-weight: 400;
      font-style: italic;
      white-space: nowrap;
      width: 57.2rem;
      height: 3.4rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      top: 55.8rem;
      line-height: 1.2125;
      color: #000000;
    }
    .item-2--nrk {
      width: 43.3rem;
      height: 3.4rem;
      left: 20.2rem;
      top: 65.5rem;
      color: #000000;
      position: absolute;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item--SRW {
      left: 20.1rem;
      top: 49.7rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      white-space: nowrap;
      width: 63.6rem;
      height: 3.4rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
    }
    .line-17-3w6 {
      position: absolute;
      left: 15.1rem;
      top: 40.3rem;
      background-color: #000000;
      width: 87.5rem;
      height: 0.1rem;
    }
    .rectangle-43-ZuS {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 78.2rem;
      height: 4.3rem;
      position: absolute;
      left: 20.1rem;
      top: 60.2rem;
      border: solid 0.1rem #000000;
    }
    .rectangle-44-HaY {
      top: 69.9rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 78.2rem;
      height: 4.3rem;
      position: absolute;
      left: 20.1rem;
    }
    .auto-group-m4yq-22L {
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      width: 19.5rem;
      height: 4.3rem;
      left: 50.2rem;
      font-size: 2.8rem;
      white-space: nowrap;
      position: absolute;
      font-weight: 400;
      line-height: 1.2125;
      font-style: italic;
      color: #000000;
      border: solid 0.1rem #000000;
      top: 76.4rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      box-sizing: border-box;
    }
  }
}
